<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ccwant.album"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
  >
        <activity
            android:name="com.ccwant.photo.selector.activity.CCwantPhotoBrowserActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.ccwant.photo.selector.activity.CCwantSelectAlbumActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.ccwant.photo.selector.activity.CCwantSelectPhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>